
@{
    ViewBag.Title = "RegistrationInfo";
}

<h2>RegistrationInfo</h2>
<hr />
<h3>UserName: @ViewBag.UserName</h3>
<h3>Address: @ViewBag.Address</h3>
<h3>Password: @ViewBag.Password</h3>
<h3>Email: @ViewBag.Email</h3>
<h3>City: @ViewBag.City</h3>
<h3>Gender: @ViewBag.Gender</h3>


