
@{
    ViewBag.Title = "Upload";
}


<h2>UPLOAD</h2>
UPLOAD THÀNH CÔNG!
<hr />
Infor of Image
<hr />
FileName: @ViewBag.ImageName
<hr />
FileType: @ViewBag.ImageType
<hr />
FileSize: @ViewBag.ImageSize
<hr />
Infor Of File
<hr />
FileName: @ViewBag.FileName
<hr />
FileType: @ViewBag.FileType
<hr />
FileSize: @ViewBag.FileSize



